node_modules

# Turborepo
.turbo/

# Environment
.env
.env.*
!.env.example

# Next.js
.next/

# Expo
.expo/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# VS Code local
.vscode/

# Expo native generated at repository root
/android/
/app.json
